.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: rgb(255, 255, 255); */
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(252, 246, 239);
    padding: 40px;
    width: 400px;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 10px;
}

.description>p{
    margin-left: 20px;
}

.btns{
    margin-top: 20px;
    display: flex;
    gap:20px;
}

.btns button{
    font-weight: 600;
    padding: 12px 30px;
    border-radius: 10px;
    border: none;
    background-color: rgb(81, 175, 187);
}