.view{
    margin: 0;
    padding-bottom: 20px;
    background-color: rgb(243, 248, 248);
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

table{
    width: 90%;
    background-color: blueviolet;
}

td{
    padding: 22px;
    text-align: center;
    border-bottom: 2px solid rgb(246, 246, 246);
}

thead td{
    border-bottom: 3px solid rgb(225, 193, 255);
    font-weight: 600;
    font-size: 20px;
}

.row{
    border-top: 1px solid rgb(236, 235, 235);
    justify-content: space-around;
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
    font-size: 40px;
    margin: 0;
}

.border{
    padding-top: 20px;
    border: 2px solid rgb(243, 243, 243);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

button{
    color: rgb(0, 0, 0);
    background-color: rgb(208, 161, 252);
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
}

