<p>practice works!</p>
<h1>Hello {{name}}</h1>

<p>Count: {{count}}</p>
<button (click)="increment()">Click me!</button>

<!-- <h3>User detail</h3>
<p>User name: {{user.name}}</p>
<p>User age: {{user.age}}</p>
<p>User age: {{user?.city}}</p> -->

<br><br>

<!-- <img [src]="url" alt="Image" (error)="onMissing()"> -->
<!-- <img [src]="url2" alt="Image" (error)="onMissing()"> -->

<li *ngFor="let team of teams; index as i ">{{i+1}}. {{team}}</li>

<ul>
@for(team of teams; track team; let i=$index){
    <li>Team {{i}}: {{team}}</li>
}
</ul>

<!-- <ul>
@for(team of teams; track team;let i=$index; let first=$first){
    <li>Team {{i+1}}: {{first}}</li>
}
</ul>

<ul>
@for(team of teams; track team;let i=$index; let last=$last){
    <li>Team {{i+1}}: {{last}}</li>
}
</ul>  -->

<!-- <input #box (input)="box.value" placeholder="type here..">
<button (click)="show(box.value)">Show</button>
<p>{{displayText.toUpperCase()}}</p>
<p>{{displayText.toLowerCase()}}</p> -->
<!-- 
<p [innerHtml]="name"></p>
<p [innerText]="name"></p> -->

<input type="text" [(ngModel)]="name" />
<button (click)="setvalue()">Show</button>
<p>name: {{name}}</p>

<input type="text" #box (input)="current=box.value" placeholder="Type here..">
<button (click)="box.focus()">Focus</button>
<button (click)="show(box.value)">Show</button>
<p>{{current}}</p>

<!-- <input type="text" #text (input)="text.value" placeholder="Type here..">
<p>{{text.value}}</p> -->

@if(isLoggedIn){
    <p>Welcome back {{name}}!</p>
}
@else{
    <p>Welcome {{name}}!</p>
}

<li *ngIf="isLoggedIn; else LoggedOut">Welcome {{name}}!</li>
<ng-template #LoggedOut>
    <li>Please login</li>
</ng-template>

<p [ngClass]="{'Correct': isCorrect}"></p>
<div [contentEditable]="isEditable" [class.editableBox]="isEditable"></div>

<h3 (mouseover)="showmessage()">Welcome!</h3>
<p>{{message}}</p>


<!-- <app-counter occupation="Developer"></app-counter> -->

<!-- <app-counter [occupation]="Developer"></app-counter> -->
<!-- <app-counter name="Chen", age=25, city="China"></app-counter> -->
<!-- <app-counter></app-counter> -->

<app-child (childmessage)="getmessage($event)"></app-child>
<p>{{parentmsg}}</p>
    

<!-- <app-form-validation></app-form-validation> -->

<p>Amount: {{amount | currency}}</p>
<p>Amount: {{OnJoin | date}}</p>
<p>Company name: {{companyName | uppercase }}</p>
<p>Company name: {{companyName | uppercase}}</p>
<p>Marks: {{marks | json}}</p>
<p>Company name: {{companyName | titlecase}}</p>

<p>{{fullname | reverse}}</p>