.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.head{
    display: flex;
    width: 100%;
    text-decoration: none;
    gap: 350px;
    padding-bottom: 10px;
    font-size: larger;
    font-weight: 600;
}

.body{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    width: 100%;
    gap: 10px;
}

.row{
    display: flex;
    gap: 360px;   
    border-top: 1px solid rgb(236, 235, 235);
    padding-top: 20px;
}

.row:nth-child(4) button{
    margin-left: 22px;
}

.row:nth-child(3) button{
    margin-left: -10px;
}

.row:nth-child(2) button{
    margin-left: -10px;
}

.row:nth-child(5) button{
    margin-left: -17px;
}

.row:nth-child(6) button{
    margin-left: -35px;
}

.row:nth-child(7) button{
    margin-left: -20px;
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 40px;
}

.border{
    padding: 20px 100px;
    border: 2px solid rgb(243, 243, 243);
    border-radius: 10px;
    background-color: white;
    box-shadow: 1px 1px 0px 1px rgba(238, 238, 238, 0.5);
}

button{
    color: rgb(0, 0, 0);
    background-color: rgb(208, 161, 252);
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
}

.btns{
    display: flex;
    align-items: center;
    justify-content: center;
}